#container {
    display: flex;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 85%;
    width: 35%;
    float: left;
    background-color: rgb(173, 155, 155);
    margin-left: 2.5%;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
  }

#track_image {
    display: table;
    margin: 0 auto;
    border-radius: 5%;
}

#track_button {
  display: block;
  position: absolute;
  top: 87.5%;
  right: 33%;
  align-self: center;
  text-align: center;
  height: 5vh;
  width: 15vh;
  font-size:1.4vh;
  background-color: rgb(22, 22, 22);
  color: rgba(255, 255, 255, 0.596);
  border-style: double;
  border-radius: 5px;
}

.glow-trackButton:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 20px rgb(0, 145, 255);
}

.glow-trackButton:active {
  transform: scale(0.95);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#track_name {
  display:flex;
  position:absolute;
  top: -1%;  
  font-size: 2vmin;
  height: 5vh;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
}

#artist_name {
  display:flex;
  position:absolute;
  top: 5%;  
  font-size: 1.6vmin;
  height: 5vh;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  color:rgb(84, 84, 84)
}

