@import url("https://fonts.googleapis.com/css2?family=Spartan&display=swap");

.Canvas {
  text-align: center;
  box-sizing: border-box;
}

h1 {
  display: inline-flex;
  font-family: "Spartan";
  text-align: center;
  font-size: 5rem;
  vertical-align: middle;
  color: rgb(22, 22, 22);
  text-shadow: 6px 6px 2px rgba(0, 0, 0, 0.527);
}

#canvas {
  margin: auto;
  margin-top: 10vh;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 50px 5px;
  border-radius: 15px;
  height: 60vh;
  width: 60vw;
  background-color: rgb(22, 22, 22);
}

/* #login {
  display: inline-flex;
  float: left;
  margin-top: 13%;
  margin-left: 6%;
  height: 5vh;
  width: 15vh;
  font-size:1.4vh;
  align-content: center;
  align-items: center;
  padding-left: .75vw;
  background-color: rgb(22, 22, 22);
  color: rgba(255, 255, 255, 0.596);
  border-style: double;
} */

#notes {
  display: inline-flex;
  position: relative;
  float: right;
  width: 60%;
  height: 40%;
  top: 15%;
  transform: translateY(-15%);
}

@font-face {
  font-family: "Spartan", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Spartan&display=swap"rel="stylesheet")
      format("woff2"),
    url("https://fonts.googleapis.com/css2?family=Spartan&display=swap"rel="stylesheet")
      format("woff");
}
